extends aboutlayout

block content
    
	div.container theme-showcase
	div.jumbotron
		h1=title
		<p>A quick and easy way for clients to send out urgent notification to support teams for urgent tickets with instant bi-directional communication.</p>