doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/carousel.css')
		script(src='/javascripts/jquery-1.11.1.min.js')					
		script(src='/javascripts/bootstrap.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/javascripts/layoutjs.js')
	body
		Div.navbar.navbar-inverse.navbar-fixed-top.navigation
			div.container-fluid.navbar-header.navbar-brand
					a(href='/') Bluepush	
			div.navbar-collapse.collapse
				ul.nav.navbar-nav
					li
						a(href='/') Home
					li.active
						a(href='/demo/login') Demo
					li
						a(href='/aboutUs') About Us
		block content