extends layout

block content
	h1= 'Welcome ' + user.username + ' !!'
	a.btn(href='/user/logout') Logout
	
	div.container-fluid
		form#send-message.form-horizontal
			fieldset
				legend Send Message

				div.control-group
					label.control-label(for='subject') Subject
					div.controls
						textarea#subject.input-xlarge(name='subject')
						
				div.control-group
					label.control-label(for='message') Message
					div.controls
						textarea#message.input-xlarge(name='message')
						
				div.control-group
					label.control-label(for='group') Group
					div.controls
						select#group(name='group')
							- each group in groups
								option(value=group)= group
								
				div.form-actions
					button(class='btn btn-primary' type='submit') Send
					button(class='btn btn-primary' type='reset') Reset
	
	script(src='/javascripts/homejs.js')