extends layout

block content
	h1= title
	p Welcome to #{title}
	
	form#send-message
		textarea#message
		input(type='submit', value='Send')
		input(type='reset', value='Reset')
		
	script(src='/javascripts/indexjs.js')
		
